<%= link_to user_path(user) do %>
<div class="user">
  <div class="avatar">
    <img src="<%= user.photo %>" alt="<%= user.name %> photo" />
  </div>
  <div class="user-info">
    <p class="name"><%= user.name %></p>
    <p class="user-posts-count">
      Number of posts: <%= user.posts.length %>
    </p>
  </div>
</div>
<% end %>
