<div class="post-detail">
  <div class="post-header">
    <h4><%= @post.title %> by <%= @post.author.name %></h4>
    <p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
  </div>
  <div class="post-text">
    <%= @post.text %>
  </div>
  <div class="post-comments">
    <h4>Comments</h4>
    <%= render partial: 'comments/comment', collection: @post.comments %>
  </div>
</div>
