<div class="post-detail">
  <div class="post-header">
    <h4><%= @post.title %> by <%= @post.author.name %></h4>
    <p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
  </div>
  <div class="post-text">
    <%= @post.text %>
  </div>

  <div class='like-dislike-btns'>
    <%= button_to 'Like', user_post_likes_path(@post.author, @post), method: :post, class: 'like-btn' %>
    <%= button_to 'Dislike', user_post_likes_path(@post.author, @post), method: :delete, class: 'dislike-btn' %>
  </div>

  <div class="post-comments">
    <h4>Comments</h4>
    <% if @post.comments.count > 0 then %>
      <%= render partial: 'comments/comment', collection: @post.comments %>
    <% else %>
      <p class='no-content'>No comments yet</p>
    <% end %>
  </div>

  <%= link_to 'Add comment', new_user_post_comment_path(@post.author, @post), class: 'btn' %>

</div>
